body{
    background: black;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header{
    height: 200px;
    position: relative;
    bottom: 0;
}

header .logo{
    background-size: 100%;
    width: 20%;
    margin: 50px 0 0 20px;
}

ul{
    background: #1a2026;
    list-style-type: none;
    position: absolute;
    height: 50px;
    top: 200px;
    left: 2%;
    right: 2%;
    margin: 0;
    box-shadow: 0 4px 10px -2px black;
    z-index: 999;
}

ul li{
    float: left;
    margin-right: 10px;
}

ul li a{
    text-decoration: none;
    color: #cccccc;
    text-align: center;
    line-height: 50px;
    display: block;
    padding-left: 15px;
    padding-right: 15px;
}
ul li a:hover{
    background:#060a0e;
    cursor: pointer;
}

ul .login{
    float: right;
}
ul .reg{
    float: right;
}

section{
    background: #0f0f12;
    width: 96%;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    top: 50px;
}

.popup{
    visibility: hidden;
}

.popup .overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}

.popup_closer{
    position: absolute;
    right: 4px;
    top: 4px;
}

.popup_closer:hover
{
    cursor: pointer;
}

.popup .login{
    position: fixed;
    width: 400px;
    height: 300px;
    left: 50%;
    top: -50%;
    margin-top: -150px;
    margin-left: -200px;
    background: linear-gradient(to bottom, black, #c3c3c3);
    z-index: 1001;
    visibility: hidden;
    box-shadow: 0 0 5px whitesmoke;
}

.popup .login table{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.popup .login table tr{
    line-height: 30px;
}

.popup .login table thead tr td p{
    text-align: center;
    color: #cccccc;
    margin-top: 20px;
    font-size: 25px;
}

.popup .login table tr td img{
    margin-top: 10px;
}

.popup .login table tr td input[type=text], 
.popup .login table tr td input[type=password]{
    padding: 10px;
    width: 90%;
    border: 2px solid #ababab;
    outline: none;
}

.popup .login table tr td input[type=text]:focus, 
.popup .login table tr td input[type=password]:focus{
    border: 2px solid #8d8d8d;
}

.popup .login table tr td label{
    color: whitesmoke;
    font-size: 12px;
}

.popup .login table tr td span{
    margin-left: 75px;
}

.popup .login table tr td span a{
    color: whitesmoke;
    font-size: 12px;
    text-decoration: none;
}

.popup .login table tr td span a:hover{
    color: #1a2026;
    cursor: pointer;
}

.popup .login table tr td .bt_auth{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background: #1a2026;
    border: none;
    color: white;
    outline: none;
}

.popup .login table tr td .bt_auth:active{
    background: #9b9b9b;
}

.resetpass_form{
    text-align: center;
    color: yellow;
    margin-left: 20%;
    margin-right: 20%;
    padding-bottom: 100px;
}

.resetpass_form img{
    margin-right: 10px;
    margin-top: 35px;
    vertical-align: top;
}

.resetpass_form input[type=text]{
    margin: 0;
    padding: 10px;
    width: 60%;
    border: 2px solid #ababab;
    outline: none;
    margin-top: 30px;
    vertical-align: top;
}

.resetpass_form .g-recaptcha{
    margin-top: 50px;
    margin-left: 33%;
}

p{
    font-size: 18px;
}

h1{
    font-size: 25px;
}